* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: black;
    color: white;
    font-family: "Roboto Mono";
    height: 100%;
}

body {
    padding: 4rem;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 4rem;
}

